/* resources/css/app.css */
/* @import "./tailwind.css"; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");

/* Local Styles */
@import "../../public/assets/css/menu.css";
@import "../../public/assets/css/spacing.min.css";
@import "../../public/assets/css/leaflet.css";
@import "../../public/assets/css/slick.css";
@import "../../public/assets/css/flaticon.css";
@import "../../public/assets/css/animate.css";
@import "../../public/assets/css/style.css";
@import "../../public/assets/css/responsive.css";
@import "../../public/assets/css/myStyle.css";
/* @import "../../public/assets/css/myStyleRTL.css"; */
