	/*
  	Flaticon icon font: Flaticon
  	Creation date: 17/01/2021 15:46
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
}

.flaticon-people:before { content: "\f100"; }
.flaticon-headphone:before { content: "\f101"; }
.flaticon-edit:before { content: "\f102"; }
.flaticon-computer:before { content: "\f104"; }
.flaticon-review:before { content: "\f106"; }
.flaticon-left-quotes-sign:before { content: "\f107"; }
.flaticon-right-quotes-symbol:before { content: "\f108"; }
.flaticon-badge:before { content: "\f109"; }
.flaticon-phone-call:before { content: "\f103"; } 