body.rtl {
    direction: rtl; 
    text-align: right; 
}

body.rtl .navigation {
    float: right; 
}

body.rtl .content {
    margin-right: 20px;
}



/*-------------- NavBar Section --------------*/

/* <---------------- Two columns layout for dropdown menu ------------------>*/

body.rtl .main-menu .navigation li.my-dropdown ul.dropdown-multicol2  {
    position: absolute;
    left: 0;
    top: 120%;
    min-width: 200px;
    z-index: 100;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    box-shadow: inset 0 0 0 10px #fff, 0 5px 20px -5px rgba(0, 0, 0, 0.2);
    padding: 0px 0;
    column-count: 2;
    column-gap: 20px;
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease;
    display: flex;
}

body.rtl .main-menu .navigation li.my-dropdown:hover ul.dropdown-multicol2  {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
    height: 275px;
    transition: opacity 0.3s ease, visibility 0.3s ease, height 0.3s ease; /* Add a slight delay for smoother transition */
    display: flex;
    gap: 0;
}

body.rtl .dropdown-multicol2 .dropdown-col  {
    flex: 1;
    padding: 0 10px;
    width: 245px;
}

body.rtl .main-header ul  {
    margin-bottom: 0;
}

body.rtl .menu-number i  {
    position: relative;
}
body.rtl .menu-number i a  {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
}

body.rtl .main-menu .navigation li  {
    float: left;
    padding: 15px 20px;
    position: relative;
}

/*-------------- Hero Section --------------*/

body.rtl .hero-section .container-fluid.px-0  {
    position: absolute !important;
    z-index: 0 !important;
    height: 100%;
}

#carouselExampleControls,
.hero-section .carousel-inner,
body.rtl .hero-section .carousel-inner *  {
    height: 100%;
}

body.rtl .carousel-item  {
    position: relative;
}
body.rtl .carousel-item .container  {
    position: relative;
    margin: auto;
    z-index: 2;
    display: flex;
    align-items: center;
}

body.rtl .carousel-item .carousel-item-title  {
    border-top: 5px solid var(--primary-color);
    border-bottom: 5px solid var(--primary-color);
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: lighter;
    padding: 6rem 2rem;
    width: 80%;
    position: relative;
    margin: 0;
    text-align: left;
    height: 50%;
    margin-bottom: 100px;
}

body.rtl .carousel-item .carousel-item-title h3  {
    color: black;
    font-family: "Georgia";
    font-size: clamp(1rem, 2.5vw, 4rem);
    line-height: 1.3;
    font-weight: 400;
    letter-spacing: 0.1rem;
    height: auto;
}

body.rtl .carousel-item .carousel-item-title > a  {
    height: auto;
    bottom: 20%;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

body.rtl .carousel-item .carousel-item-title > a:hover  {
    background-color: #cc5203;
}

body.rtl .carousel-item > img  {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.carousel-control-next-icon,
body.rtl .carousel-control-prev-icon  {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: #ffffff;
    color: var(--heading-color, #2d2d2d);
    border-radius: 15px !important;
}

body.rtl .carousel-control-buttons  {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 75%;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-control-next,
body.rtl .carousel-control-prev  {
    position: static;
    width: fit-content;
}
body.rtl .hero-section > .container  {
    bottom: 5%;
}
body.rtl .carousel-control-next  {
    right: 5%;
}
body.rtl .carousel-control-prev  {
    left: 5%;
}

/*-------------- Call Back Form Section --------------*/

body.rtl .call-back-form .form-control  {
    height: 4rem;
}

/*-------------- A propos Vissions --------------*/

body.rtl .vission-content-wrap p  {
    margin-bottom: 10px;
}

body.rtl .vission-content-wrap li::before  {
    content: "•";
    color: black;
}

body.rtl .vission-content-wrap li span  {
    color: black;
    font-weight: bold;
}

/*-------------- Success Section --------------*/

body.rtl .success-content .percentage.count-text:after  {
    content: "%";
}

/*-------------- Services Section --------------*/

body.rtl .service-item  {
    height: 90%;
}

/*-------------- Clients Section --------------*/

body.rtl .clients-title-container  {
    display: flex;
    align-items: center;
}

/*-------------- Footer Section --------------*/

body.rtl .subscribe-form .form-group input  {
    padding: 24px 15px;
    background: #3c3c3c;
}

/*-------------- Media Queries --------------*/

@media only screen and (max-width: 1199px) {
    .main-menu .navigation li {
        padding: 20px 10px;
    }

    .carousel-item .carousel-item-title h3 {
        font-size: 2.2rem;
    }
}

@media only screen and (max-width: 991px) {
    .carousel-control-prev a {
        width: 45px;
        height: 45px;
        line-height: 45px;
    }

    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background: #ffffff;
        color: var(--heading-color, #2d2d2d);
        border-radius: 15px !important;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: 50%;
    }

    .carousel-item .carousel-item-title {
        padding: 5rem 1rem;
        width: 90%;
        top: -10%;
    }

    .carousel-item .carousel-item-title h3 {
        font-size: clamp(1rem, 4vw, 1.75rem);
    }

    .carousel-item .carousel-item-title > a {
        padding: 0.5rem 1rem;
        font-size: clamp(
            0.8rem,
            2vw,
            0.9rem
        ); /* Smaller font size for smaller screens */
    }
}

@media only screen and (max-width: 768px) {
    .carousel-item .container {
        justify-content: center;
    }
    .carousel-item .carousel-item-title {
        padding: 4rem 1rem;
        width: 95%;
        text-align: center;
    }

    .carousel-item .carousel-item-title h3 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }

    .carousel-item .carousel-item-title > a {
        padding: 0.5rem 1rem;
        font-size: clamp(
            0.75rem,
            3vw,
            0.85rem
        ); /* Adjust further for smaller screens */
    }
}
