/********************************************************** */
/**********************  Conset ************************* */
/**********************************************************

    TABLE OF CONTENT
    ========================

    01. Default CSS
    02. Hero Section
    03. Page Banner
    04. Our Success
    05. About Us
    06. Service Section
    07. Partners
    08. Cases Section
    09. Team Section
    10. Call Back Section
    11. Testimonial Section
    12. Call To Action
    13. About Page
    14. Vission Mission
    15. Service Details
    16. Case Details
    17. Contact Page
    18. Error Page
    19. Footer Section


/****************************************************** */
/*******************  01. Default CSS ***************** */
/****************************************************** */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

:root {
    --heading-color: #2d2d2d;
    --primary-color: #fe6600;
    --primary-color-rgb: 254,102,0;
}

body {
    color: #747474;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

a {
    color: #747474;
    cursor: pointer;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none;
}

a:hover,
a:focus,
a:visited {
    outline: none;
    color: var(--primary-color, #fe6600);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color, #2d2d2d);
    line-height: 1.1;
    font-family: 'Roboto', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 100px;
    font-weight: 700;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 15px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    display: inline-block;
}

.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

header:after,
section:after,
footer:after {
    display: block;
    clear: both;
    content: "";
}

/** Section Title style */
.section-title h2 {
    line-height: 1.17;
}

.section-title h2 span {
    color: var(--primary-color, #fe6600);
}

/** Button style */
.theme-btn,
a.theme-btn {
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    min-width: 230px;
    transition: 0.5s;
    padding: 20px 41px;
    border-radius: 15px;
    background: var(--primary-color, #fe6600);
    display: inline-block;
}

.theme-btn i {
    font-size: 11px;
    padding-left: 10px;
    transition: 0.5s;
}

.theme-btn:hover i {
    transform: translateX(5px);
}

/** Social Link Style One */
.social-style-one {
    display: inline-block;
}

.social-style-one a {
    margin: 0 3px;
    width: 35px;
    height: 35px;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    display: inline-block;
    background: rgba(255, 255, 255, .05);
}

.social-style-one a i {
    color: #ffffff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social-style-one a:hover i {
    color: var(--primary-color, #fe6600);
}

.social-style-one a:first-child {
    margin-left: 0;
}

.social-style-one a:last-child {
    margin-right: 0;
}

/** Social Link Style One */
.social-style-two {
    display: inline-block;
}

.social-style-two a {
    margin: 0 3px;
    width: 40px;
    height: 40px;
    font-size: 13px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    display: inline-block;
    background: #ffffff;
}

.social-style-two a:hover {
    background: var(--heading-color, #2d2d2d);
}

.social-style-two a i {
    color: var(--heading-color, #2d2d2d);
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.social-style-two a:hover i {
    color: #ffffff;
}

.social-style-two a:first-child {
    margin-left: 0;
}

.social-style-two a:last-child {
    margin-right: 0;
}

/*pazination style*/
.pazination li {
    display: inline-block;
}

.pazination li a {
    width: 30px;
    height: 30px;
    color: #677294;
    display: block;
    font-size: 14px;
    transition: 0.5s;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    background: #FFFFFF;
}

.pazination a:hover,
.pazination li.active a {
    color: #FFFFFF;
    background: #1965FD;
}

/*** Preloader style ** */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../images/preloader.gif);
}

/* text inputs and textarea */
.form-group input,
.form-group textarea {
    border: none;
    padding: 17px 30px;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 20px;
    background: #FF8431;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #FFF6F0;
}

.form-group input:focus,
.form-group textarea:focus {
    color: #FFFFFF;
    box-shadow: none;
    background: #FF8431;
}

/* input buttons */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
    outline: none;
}

.overlay {
    position: relative;
}

.overlay:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.1;
    background: #000000;
}

.overlay *:not(#carouselExampleControls):not(#carouselExampleControls *) {
    z-index: 2;
    position: relative;
}



.bg-orange {
    background: var(--primary-color, #fe6600);
}

.bg-black {
    background: #292929;
}

.bg-snow {
    background: #f9f9f9;
}

/****************************************************** */
/****************** 02. Hero Section  *************** */
/****************************************************** */
.hero-section {
    height: 1000px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    z-index: inherit;
}

.hero-container.container {
    max-width: 100% !important;
    height: 100% !important;
    z-index: 0;
}
.carousel-item img{
    height: 100%;
    width: 100%;
}

.hero-inner {
    max-width: 900px;
    padding: 30px 0 85px;
}

.hero-inner .sub-title {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    color: var(--primary-color, #fe6600);
}

.hero-inner h1 {
    color: #ffffff;
    margin: 35px 0 45px;
    line-height: 1.1;
}

.hero-inner h1 span {
    display: inline-block;
}

.hero-inner h1 span:after {
    content: '.';
    color: var(--primary-color, #fe6600);
}

.hero-btn a {
    margin: 0 25px 15px 0;
}

.hero-btn a:last-child {
    margin-right: 0;
}


/****************************************************** */
/************** 03. Page Banner Section  ************** */
/****************************************************** */
.page-banner {
    height: 520px;
    margin-top: 50px;
    background: var(--bg-banner-image,'../images/banner/banner-bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.page-banner.overlay:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: calc(50% + 120px);
    height: 100%;
    background: rgba(254, 102, 0, .2);
    clip-path: polygon(calc(100% - 320px) 0, 100% 100%, 0 100%, 0 0);
}

.page-banner .banner-inner {
    padding: 160px 0 50px;
}

.page-banner .banner-inner h2 {
    color: #ffffff;
    font-size: 75px;
    line-height: 1.1;
    margin-bottom: 15px;
}

.banner-inner .breadcrumb {
    padding-left: 0;
    background-color: transparent;
}

.banner-inner .breadcrumb-item {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.banner-inner .breadcrumb a {
    color: #ffffff;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f142";
    font-weight: 600;
    font-size: 13px;
    padding-left: 17px;
    padding-right: 17px;
    color: var(--primary-color, #fe6600);
    font-family: "Font Awesome 5 Free";
}


/****************************************************** */
/*************** 04. Our Success Section  ************* */
/****************************************************** */
.success-wrap {
    transform: translateY(-60%);
    padding: 48px 70px 48px 80px;
    border-top: 10px solid #ffffff;
}

.success-item {
    display: flex;
    padding-left: 16px;
    border-right: 1px solid #FF8432;
}

.success-wrap .row > div:last-child .success-item {
    border-right: 0px;
}

.success-item .success-icon {
    color: #ffffff;
    margin-right: 32px;
    padding-top: 20px;
}

.success-item .success-icon i:before {
    font-size: 35px;
}

.success-item .success-content {
    padding-top: 15px;
}

.success-content .count-text {
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
}

.success-content .count-text:after {
    content: '+';
}

.success-content p {
    font-weight: 700;
    color: var(--heading-color, #2d2d2d);
}


/****************************************************** */
/**************** 05. About Us Section  *************** */
/****************************************************** */
.about-image {
    max-width: 500px;
    padding: 50px;
    position: relative;
}

.about-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    z-index: -1;
    background: var(--primary-color, #fe6600);
}

.about-image:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 191px;
    height: 191px;
    z-index: -1;
    background: #292929;
    clip-path: polygon(100% 100%, 0 100%, 0 0);
}

.about-image img {
    border-radius: 100px 0 0 0;
    clip-path: polygon(100% 0, 100% 100%, 110px 100%, 0 calc(100% - 110px), 0 0);
}

/*Custom Animation*/
@-webkit-keyframes fadeInBottomLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 100px, 0);
        transform: translate3d(-100px, 100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
@keyframes fadeInBottomLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100px, 100px, 0);
        transform: translate3d(-100px, 100px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
}
.fadeInBottomLeft {
    -webkit-animation-name: fadeInBottomLeft;
    animation-name: fadeInBottomLeft;
}

.about-border {
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 8px;
    height: 38%;
    background: #EFEFEF;
}

.about-content p {
    color: #3B3B3B;
    margin-bottom: 25px;
}

.about-content > i {
    font-weight: 500;
    margin-bottom: 40px;
    display: inline-block;
    color: var(--heading-color, #2d2d2d);
}

.about-content .theme-btn {
    padding: 20px 45px;
}

.about-content .theme-btn i {
    padding-left: 25px;
}


/****************************************************** */
/***************** 06. Service Section  *************** */
/****************************************************** */
.services-section {
    position: relative;
}

.services-section:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    background: rgba(254, 102, 0, .15);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.services-section:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 265px;
    height: 265px;
    background: var(--primary-color, #fe6600);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.services-section .section-title h2 {
    margin-bottom: 15px;
}

.service-item {
    background: #fff;
    margin-bottom: 40px;
    padding: 56px 48px 50px;
    position: relative;
    z-index: 1;
}

.service-item .service-icon {
    margin-bottom: 23px;
}

.service-item .service-icon a {
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: #f9f9f9;
    color: var(--primary-color, #fe6600);
}

.service-item:hover .service-icon a {
    color: #fff;
    border-radius: 15px;
    background: var(--primary-color, #fe6600);
}

.service-content h4 {
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 15px;
}

.service-content h4 a {
    color: var(--heading-color, #2d2d2d);
}

.service-content h4 a:hover {
    color: var(--primary-color, #fe6600);
}

.service-content p {
    color: #3B3B3B;
    margin-bottom: 0;
}

.separetor {
    width: calc(100% - 30px);
    height: 5px;
    margin-left: 15px;
    margin-bottom: 40px;
    background: var(--primary-color, #fe6600);
}


/****************************************************** */
/**************** 07. Partners Section  *************** */
/****************************************************** */
.partners-section .section-title h2 {
    line-height: 1.42;
}

.partners-section .slick-slide img {
    margin-left: auto;
}

.partners-section .slick-track {
    display: flex;
    align-items: center;
}

.partner-wrap .partner-prev, .partner-wrap .partner-next {
    background: #F9F9F9;
    width: 65px;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
    text-align: center;
    color: var(--primary-color, #fe6600);
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.partner-wrap .partner-next {
    top: 65%;
}

.partner-wrap .partner-prev:hover,
.partner-wrap .partner-next:hover,
.partner-wrap .partner-prev:focus,
.partner-wrap .partner-next:focus {
    color: #ffffff;
    background: var(--primary-color, #fe6600);
}

.partners-section .slick-list {
    margin-left: 100px;
}

.partners-section .partner-item {
    padding-top: 25px;
}


/****************************************************** */
/****************** 08. Cases Section  **************** */
/****************************************************** */
.cases-section {
    position: relative;
}

.cases-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgba(254, 102, 0, .15);
    clip-path: polygon(100% 0, 0 100%, 0 0);
}

.cases-section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 265px;
    height: 265px;
    background: var(--primary-color, #fe6600);
    clip-path: polygon(100% 0, 0 100%, 0 0);
}

.cases-section .section-title {
    position: relative;
    z-index: 1;
}

.cases-section .section-title h2 {
    color: #ffffff;
    margin-bottom: 30px;
}

.cases-section .section-title p {
    color: #BFBFBF;
}

.case-wrap {
    margin: 0 -15px;
    padding-bottom: 195px;
    position: relative;
}

.case-item {
    padding: 0 15px;
}

.case-image {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.case-image:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    background: var(--primary-color, #fe6600);
    clip-path: polygon(100% 100%, 0 100%, 0 0);
    -webkit-transition: .5s;
    transition: .5s;
}

.case-image:hover:before {
    width: 240px;
    height: 240px;
}

.case-image a {
    position: absolute;
    bottom: -57px;
    left: -65px;
    width: 65px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    background: #ffffff;
    border-radius: 15px;
    color: var(--heading-color, #2d2d2d);
    -webkit-transition: .5s;
    transition: .5s;
}

.case-image:hover a {
    left: 40px;
    bottom: 32px;
}

.case-content {
    padding-left: 40px;
}

.case-content span {
    color: var(--primary-color, #fe6600);
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 8px;
    display: inline-block;
    letter-spacing: 0.56px;
}

.case-content h4 a {
    color: #FFFFFF;
}

.case-wrap .case-prev, .case-wrap .case-next {
    background: #292929;
    width: 65px;
    height: 65px;
    line-height: 65px;
    cursor: pointer;
    text-align: center;
    color: var(--primary-color, #fe6600);
    position: absolute;
    left: 43%;
    bottom: 17px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.case-wrap .case-next {
    left: calc(43% + 85px);
}

.case-wrap .case-prev:hover,
.case-wrap .case-next:hover,
.case-wrap .case-prev:focus,
.case-wrap .case-next:focus {
    color: #ffffff;
    background: #4C3526;
}

.case-wrap:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, .02);
}


/****************************************************** */
/****************** 09. Team Section  ***************** */
/****************************************************** */
.team-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 70px;
}

.team-item {
    width: 20%;
    padding: 0 20px;
    margin-bottom: 40px;
}

.team-item .item-image {
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}

.team-item .item-image:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(transparent, #fe6600);
    -webkit-transition: 0.7s;
    transition: 0.7s;
}

.team-item:hover .item-image:before {
    height: 85%;
}

.team-item .item-image img {
    width: 100%;
}

.team-item .item-image .social-style-two {
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
}

.team-item .team-desc h3 {
    margin-bottom: 12px;
}

.team-item .team-desc p {
    color: var(--primary-color, #fe6600);
}


/****************************************************** */
/*************** 10. Call Back Section  *************** */
/****************************************************** */
.call-back-section {
    background: url(../images/call-back/call-back-bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.call-back-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color, #fe6600);
    opacity: .9;
}

.call-back-shap {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, .1);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.call-back-shap:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 265px;
    height: 265px;
    background: #292929;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

.call-back-section .section-title {
    max-width: 430px;
}

.call-back-section .section-title h2 {
    color: #ffffff;
    margin-bottom: 18px;
    line-height: 1.25;
}

.call-submit button.theme-btn {
    background: #292929;
}

.call-back-form .row > div {
    padding-left: 10px;
    padding-right: 10px;
}

.call-submit {
    margin-bottom: 0;
}


/****************************************************** */
/************* 11. Testimonial Section  ************** */
/****************************************************** */
.testimonial-area {
    display: flex;
    align-items: center;
}

.review-buttons {
    margin-right: 30px;
}

.review-btn {
    display: block;
    background: rgba(254, 102, 0, 1);
}

.review-btn,
.review-btn img {
    transition: all .3s ease;
}

.review-btn img {
    opacity: 1;
    width: 100%;
}

.review-btn:hover img {
    opacity: .4
}

.review-btn.active img {
    opacity: .1
}

.review-btn.active::before {
    transition: transform .3s ease 0s, visibility .3s ease .2s, opacity .3s ease .2s;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.review-buttons figure {
    width: 100px;
    position: relative;
    margin-bottom: 30px;
}

.review-buttons figure:last-child {
    margin-bottom: 0;
}

.review-buttons figure::before,
.review-buttons figure::after {
    position: absolute;
    content: '';
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease 0s;
}

.review-buttons figure.active-btn::before,
.review-buttons figure.active-btn::after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all .4s ease .2s;
}

.review-buttons figure.active-btn::before {
    width: 2px;
    height: 10px;
}

.review-buttons figure.active-btn::after {
    width: 10px;
    height: 2px;
}

.testimony-content {
    width: 100%;
}

.review-single {
    display: none;
    animation: 1s fadeIn;
}

.review-single.active {
    display: flex;
    align-items: center;
}

.review-single .textimonial-image {
    flex: none;
    max-width: 36%;
    margin-right: 40px;
    animation: 1s fadeInDown;
}

.textimonial-content {
    max-width: 566px;
    margin-left: auto;
    animation: 1s fadeInLeft;
}

.textimonial-content p {
    font-size: 28px;
    line-height: 1.57;
    padding-top: 50px;
    position: relative;
    color: var(--heading-color, #2d2d2d);
}

.textimonial-content p:before {
    content: "\f107";
    font-family: "Flaticon";
    font-size: 45px;
    position: absolute;
    top: -34px;
    left: 0;
    color: var(--primary-color, #fe6600);
}

.textimonial-content p:after {
    content: "\f108";
    font-family: "Flaticon";
    font-size: 45px;
    position: absolute;
    right: 15%;
    bottom: -45px;
    color: var(--primary-color, #fe6600);
}

.textimonial-content .reviewer {
    margin-top: 60px;
}

.textimonial-content .reviewer h3 {
    font-size: 32px;
}

.textimonial-content .reviewer span {
    color: var(--primary-color, #fe6600);
}


/****************************************************** */
/************ 12. Call To Action Section  ************* */
/****************************************************** */
.cta-section .cta-text h3 {
    font-size: 45px;
    color: #ffffff;
    line-height: 1.57;
}

.cta-section .cta-btn {
    text-align: right;
}

.cta-section .cta-btn .theme-btn {
    background: #292929;
    padding: 20px 57px;
}


/****************************************************** */
/******************* 13. About Page  ****************** */
/****************************************************** */
.cta-section.bg-snow h3 {
    color: #292929;
}

.cta-section.bg-snow h3 span {
    color: var(--primary-color, #fe6600);
}

.cta-section.bg-snow .theme-btn {
    background: var(--primary-color, #fe6600);
    padding: 20px 57px;
}


/****************************************************** */
/*********** 14. Vission Mission Section  ************* */
/****************************************************** */
.vission-tabs {
    position: relative;
}

.vission-tabs:before {
    content: '';
    position: absolute;
    left: 0;
    top: -45%;
    width: 100%;
    height: 230%;
    z-index: -1;
    background: #F9F9F9;
}

.vission-tabs li {
    height: 140px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    background: url(../images/about/tab-bg.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.vission-tabs li:last-child {
    margin-bottom: 0;
}

.vission-tabs li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, .93);
    transition: 0.5s;
}

.vission-tabs li:hover:before, .vission-tabs li.active:before {
    background: rgba(254, 102, 0, .93);    
}

.vission-tabs li h3 {
    position: relative;
    color: #ffffff;
    margin-right: 70px;
    margin-bottom: 0;
    z-index: 1;
    transition: 0.7s;
}

.vission-tabs li:hover h3, .vission-tabs li.active h3 {
    padding-right: 70px;
}

.vission-tabs li h3:after {
    content: "\f30b";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.vission-tabs li:hover h3:after, .vission-tabs li.active h3:after {
    opacity: 1;
    visibility: visible;
}

.vission-content-wrap {
    max-width: 500px;
    overflow: hidden;
    margin-left: auto;
}

.vission-tab-content {
    display: none;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.vission-tab-content.active {
    display: block;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.vission-tab-content .section-title h2 {
    color: #222222;
    margin-bottom: 10px;
}

.vission-tab-content p {
    margin-bottom: 30px;
}

.vission-tab-content .success-item {
    max-width: 340px;
    align-items: center;
    border-right: 0;
    margin-top: 42px;
    padding: 25px 0 25px 40px;
    border-left: 6px solid var(--primary-color, #fe6600);
}

.vission-tab-content .success-item .icon-image {
    margin-right: 35px;
}

.vission-tab-content .success-content {
    padding-top: 0;
}

.vission-tab-content .success-content .count-text {
    font-size: 40px;
    color: #292929;
    position: relative;
}

.vission-tab-content .success-content .count-text:after {
    font-size: 13px;
    position: absolute;
    top: 0;
    right: -10px;
    color: var(--primary-color, #fe6600);
}

.vission-tab-content .success-content h5 {
    color: #292929;
    margin-bottom: 0;
    margin-top: 6px;
}


/****************************************************** */
/************** 15. Service Details Page  ************* */
/****************************************************** */
.service-details-content .section-title h2 {
    color: #222222;
    margin-bottom: 25px;
}

.service-details-content p {
    font-size: 16px;
    line-height: 1.64;
    text-align: justify;
    margin-bottom: 35px;
}

.service-details-content .section-title h2 span {
    color: transparent;
    -webkit-text-stroke: 1px #222222;
}

.service-details-content .details-image {
    position: relative;
    margin-bottom: 45px;
}

.service-details-content .details-image:after {
    content: "";
    font-family: "Flaticon";
    color: #FFFFFF;
    font-size: 45px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 95px;
    height: 95px;
    line-height: 95px;
    text-align: center;
    background: var(--bg-service-image-icon);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.service-details-content h3 {
    color: #222222;
    font-size: 35px;
    margin-bottom: 25px;
}

.prev-next-area {
    margin-top: 70px;
}

.prev-next-area .prev-next-btn {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    line-height: 100px;
    background: #292929;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: 0.8s;
}

.prev-next-area .prev-next-btn:hover {
    background: transparent;
}

.prev-next-area .prev-next-btn:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/services/prev-next.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: -1;
    transition: 0.8s;
}

.prev-next-area .prev-next-btn:hover:before {
    opacity: 1;
}

.prev-next-area .prev-next-btn:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    background: transparent;
    transition: 0.8s;
}

.prev-next-area .prev-next-btn:hover:after {
    background: rgba(254, 102, 0, .9);
}

.prev-next-area .prev-next-btn span {
    position: relative;
    display: inline-block;
    transition: 0.5s;
}

.prev-next-area .prev-next-btn.prev-btn:hover span {
    padding-left: 20%;
}

.prev-next-area .prev-next-btn span:before {
    content: "\f30a";
    font-weight: 600;
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: 2px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.prev-next-area .prev-next-btn.next-btn:hover span {
    padding-right: 20%;
}

.prev-next-area .prev-next-btn.next-btn span:before {
    content: "\f30b";
    right: 0;
    left: auto;
}

.prev-next-area .prev-next-btn:hover span:before {
    opacity: 1;
    visibility: visible;
}

/* Service Sidebar */
.service-sidebar {
    max-width: 300px;
    margin-left: auto;
}

.service-sidebar .sidebar-widget {
    margin-bottom: 100px;
}

.service-sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}

.service-sidebar .sidebar-widget h3 {
    font-size: 35px;
    color: #292929;
    margin-bottom: 35px;
}

.service-sidebar .service-widget ul li {
    margin-bottom: 10px;
}

.service-sidebar .service-widget ul li a {
    height: 65px;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
    color: #292929;
    background: #f9f9f9;
    padding: 18px 30px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: 0.5s;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.service-sidebar .service-widget ul li a:hover {
    color: #FFFFFF;
    background: transparent;
}

.service-sidebar .service-widget ul li a:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../images/services/prev-next.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    z-index: -1;
    transition: 0.8s;
}

.service-sidebar .service-widget ul li a:hover:before {
    opacity: 1;
}

.service-sidebar .service-widget ul li a:after {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    background: transparent;
    transition: 0.8s;
}

.service-sidebar .service-widget ul li a:hover:after {
    background: rgba(254, 102, 0, .9);
}

.service-sidebar .contact-widget {
    padding: 62px 55px;
}

.service-sidebar .contact-widget p {
    font-weight: 700;
    margin-bottom: 26px;
    color: var(--primary-color, #fe6600);
}

.service-sidebar .contact-widget h3 {
    color: #222222;
    font-size: 42px;
    line-height: 1.43;
}

.service-sidebar .contact-widget .theme-btn {
    max-width: 190px;
    min-width: 190px;
    padding: 16px 20px;
}


/****************************************************** */
/*************** 16. Case Details Page  *************** */
/****************************************************** */
.case-gallery {
    margin-bottom: 32px;
}

.case-gallery .tab-content {
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 5px solid #F5F5F5;
}

.case-gallery-list li a figure {
    position: relative;
}

.case-gallery-list li a figure::before,
.case-gallery-list li a figure::after {
    position: absolute;
    content: '';
    background: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0);
    -ms-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    transition: all .4s ease 0s;
}

.case-gallery-list li a.active figure::before,
.case-gallery-list li a.active figure::after {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    transition: all .4s ease .2s;
}

.case-gallery-list li a.active figure::before {
    width: 2px;
    height: 10px;
}

.case-gallery-list li a.active figure::after {
    width: 10px;
    height: 2px;
}

.case-gallery-list li a img {
    opacity: 1;
    width: 100%;
}

.case-gallery-list li a.active img {
    opacity: .1;
}

.case-gallery-list li a {
    display: block;
    background: rgba(254, 102, 0, 1);
}

.case-gallery-list li a, .case-gallery-list li img {
    transition: all .3s ease;
}

.case-gallery-list {
    justify-content: center;
}

.case-gallery-list li {
    margin-right: 20px;
}

.case-gallery-list li:last-child {
    margin-right: 0;
}

.case-details-content .section-title h2 {
    color: #222222;
    margin-bottom: 25px;
}

.case-details-content .section-title h2 span {
    color: transparent;
    -webkit-text-stroke: 1px #222222;
}

.case-details-content p {
    font-size: 16px;
    line-height: 1.64;
    text-align: justify;
    margin-bottom: 35px;
}

.case-details-content h3 {
    color: #222222;
    font-size: 35px;
    margin-bottom: 25px;
}

.case-middle {
    padding: 10px 0 20px;
}

.case-middle .middle-image {
    max-width: 330px;
    margin-left: auto;
}

.case-middle .middle-content p {
    text-align: inherit;
    margin-bottom: 25px;
}

/* Case Sidebar */
.case-sidebar {
    max-width: 300px;
    margin-right: auto;
}

.case-sidebar .sidebar-widget {
    margin-bottom: 80px;
}

.case-sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}

.case-sidebar .sidebar-widget h3 {
    font-size: 35px;
    color: #292929;
    margin-bottom: 35px;
}

.case-sidebar .sidebar-widget h3 span {
    color: var(--primary-color, #fe6600);
}

.case-sidebar .information-widget {
    padding: 40px 41px 35px;
}

.case-sidebar .information-widget h3 {
    font-size: 30px;
    line-height: 1.31;
    margin-bottom: 30px;
}

.information-widget li {
    display: flex;
    line-height: 2.68;
}

.information-widget li span {
    color: #292929;
    font-weight: 700;
    width: 92px;
    position: relative;
    display: inline-block;
}

.information-widget li span:before {
    content: ':';
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 13px;
}

.information-widget li a {
    color: var(--primary-color, #fe6600);
}

.case-sidebar .contact-widget {
    padding: 62px 55px;
}

.case-sidebar .contact-widget p {
    font-weight: 700;
    margin-bottom: 26px;
    color: var(--primary-color, #fe6600);
}

.case-sidebar .contact-widget h3 {
    color: #FFFFFF;
    font-size: 42px;
    line-height: 1.43;
}

.case-sidebar .contact-widget .theme-btn {
    max-width: 190px;
    min-width: 190px;
    padding: 16px 20px;
}

.related-cases .case-item {
    padding: 0;
}

.related-cases .case-content h4 a {
    color: #292929;
}


/****************************************************** */
/****************** 17. Contact Page  ***************** */
/****************************************************** */

/* Get In Touch */
.get-in-touch .section-title h2 {
    color: #222222;
    margin-bottom: 25px;
}

.get-in-touch .section-title h2 span {
    color: transparent;
    -webkit-text-stroke: 1px #222222;
}

.get-in-touch p {
    font-size: 16px;
    line-height: 1.64;
    text-align: justify;
    margin-bottom: 35px;
}

.contact-sidebar {
    max-width: 300px;
    margin-right: auto;
}

.contact-sidebar .sidebar-widget {
    padding: 52px 45px 50px;
    margin-bottom: 30px;
}

.contact-sidebar .sidebar-widget:last-child {
    margin-bottom: 0;
}

.contact-sidebar .sidebar-widget h3 {
    color: #292929;
    font-size: 30px;
    line-height: 1.31;
    margin-bottom: 30px;
}

.contact-sidebar .sidebar-widget li {
    display: flex;
    line-height: 2;
    margin-bottom: 15px;
}

.contact-sidebar .sidebar-widget li:last-child {
    margin-bottom: 0;
}

.contact-sidebar .sidebar-widget li .left-icon {
    width: 45px;
}

.contact-sidebar .sidebar-widget li .left-icon i {
    font-size: 19px;
    margin-right: 31px;
    color: var(--primary-color, #fe6600);
}

.contact-sidebar .sidebar-widget.bg-black h3,
.contact-sidebar .sidebar-widget.bg-black .right-content a {
    color: #FFFFFF;
}

.get-in-touch .call-back-form {
    margin-top: 55px;
}

.get-in-touch .call-back-form input,
.get-in-touch .call-back-form textarea {
    background: transparent;
    border: 1px solid #EFEFEF;  
}

.get-in-touch .call-back-form input,
.get-in-touch .call-back-form textarea,
.get-in-touch .call-back-form input::placeholder,
.get-in-touch .call-back-form textarea::placeholder {
    color: #747474;
}

.get-in-touch .call-back-form input:focus,
.get-in-touch .call-back-form textarea:focus {
    box-shadow: none;
    border-color: var(--primary-color, #fe6600);
}

.get-in-touch .call-back-form textarea {
    resize: none;
}

/* Contact Page Map */
.map-inner .map {
    height: 450px;
}

.leaflet-bottom.leaflet-right {
    display: none;
}


/****************************************************** */
/******************* 18. Error Page  ****************** */
/****************************************************** */
.error-image {
    margin-bottom: 80px;
    border-bottom: 6px solid #F6F6F6;
}

.error-content {
    max-width: 775px;
    margin: auto;
    display: flex;
    align-items: center;
}

.error-content .content-left h2 {
    color: #222222;
    line-height: 1.57;
}

.error-content .content-left h3 {
    color: #787878;
    line-height: 1.57;
}

.error-content .content-right {
    margin-left: auto;
}

.error-content .content-right .theme-btn {
    padding: 20px 51px;
    background: #292929;
}

.error-content .content-right .theme-btn i {
    padding-left: 0;
    padding-right: 10px;
}

.error-content .content-right .theme-btn:hover i {
    transform: translateX(-5px);
}


/****************************************************** */
/***************** 19. Footer Section  **************** */
/****************************************************** */
.widget-title {
    color: #ffffff;
    line-height: 28px;
    margin-bottom: 45px;
}

.widget {
    margin-bottom: 50px;
}

.widget p,
.widget ul li,
.widget ul li a {
    color: #D0D0D0;
}

.widget ul li a:hover,
.subscribe-form .form-group .subscribe-submit:hover {
    color: #FFFFFF;
}

.widget ul li {
    margin-bottom: 16px;
}

.widget ul li:last-child {
    margin-bottom: 0;
}

.contact-info-widget ul li {
    margin-bottom: 35px;
}

.contact-info-widget h5 {
    margin-bottom: 15px;
    color: var(--primary-color, #fe6600);
}

.contact-info-widget p {
    margin-bottom: 0;
}

.recent-post-widget .post-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #3B3A3A;
}

.recent-post-widget ul > li:last-child .post-item {
    border-bottom: 0;
}

.recent-post-widget .post-item h5 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 4px;
}

.recent-post-widget .post-item p {
    margin-bottom: 20px;
    color: var(--primary-color, #fe6600);
}

.recent-post-widget ul > li:last-child .post-item p {
    margin-bottom: 0;
}

.menu-widget ul li a {
    font-size: 16px;
}

.menu-widget li {
    padding-left: 38px;
    position: relative;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.menu-widget li:before {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    left: 0;
    top: 0;
}

.subscribe-form .form-group input {
    padding: 12px 29px;
    background: #3C3C3C;
}

.subscribe-form input::placeholder {
    color: #D0D0D0;
}

.subscribe-form .form-group {
    position: relative;
}

.subscribe-form .form-group .subscribe-submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    color: #D0D0D0;
    cursor: pointer;
    text-align: center;
    line-height: 48px;
    transition: 0.5s;
    border-radius: 15px;
    background: var(--primary-color, #fe6600);
}

.widget .social-style-two a {
    background: #D0D0D0;
    margin-right: 6px;
}

.widget .social-style-two a i {
    color: #2d2d2d;
}

.widget .social-style-two a:hover {
    background: #FFFFFF;
}

/* Copyright And Footer Menu */
.copyright-area {
    color: #f7f9fb;
    padding: 17px 0;
    background: #333333;
}

.copyright-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright-inner p {
    margin: 0;
}

.copyright-inner p span {
    color: var(--primary-color, #fe6600);
}

.copyright-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.footer-menu {
    margin-left: auto;
}

.footer-menu li {
    padding: 0 12px;
    display: inline-block;
    line-height: 12px;
    border-right: 1px solid;
}

.footer-menu li:first-child {
    padding-left: 0;
}

.footer-menu li:last-child {
    padding-right: 0;
    border-right: none;
}

.footer-menu li a {
    color: #f7f9fb;
}

.footer-menu li a:hover {
    color: var(--primary-color, #fe6600);
}

/*** Scroll Top style ***/
.scroll-top {
    width: 48px;
    height: 48px;
    color: #ffffff;
    cursor: pointer;
    margin-left: auto;
    border-radius: 15px;
    background: var(--primary-color, #fe6600);
}





