@tailwind base;
@tailwind components;
@tailwind utilities;

/* <----- Make the filament ImageUpload component take the full height of the container -----> */
.image-png-container .filepond--root.filepond--hopper {
    @apply h-full !important;
}

.image-png-container .filepond--item {
    @apply h-full !important;
}

.image-png-container .filepond--image-preview {
    background-color: white !important; /* Set to your desired color */
    border: 1px solid #ccc; /* Optional: Add a border for better visibility */
    padding: 10px; /* Optional: Add some padding */
    box-shadow: none !important;
}
